{% extends "base.html" %}
{% block content %}


<section id="dashboard">
    <header>
        <div class="row justify-content-center">
            {% if current_user.id == user.id %}
            <h1 class="col-12 text-center mt-5 heading-font">Hello {{ user.username}}</h1>
            {% else %}
            <h1 class="col-12 text-center mt-5 heading-font">Info for {{ user.username }}</h1>
            {% endif %}
        </div>
    </header>

    <section class="mt-5">
        <div class="row justify-content-center mb-3">
            <h2 class="col-12 text-center">Details</h2>
        </div>
        <div class="row justify-content-center">
            <p class="col-6 text-end"><strong>Username:</strong></p>
            <p class="col-6">{{ user.username }}</p>
        </div>
        <div class="row justify-content-center">
            <p class="col-6 text-end"><strong>Email:</strong></p>
            <p class="col-6">{{ user.email }}</p>
        </div>
        <div class="row justify-content-center">
            <p class="col-6 text-end"><strong>Password:</strong></p>
            <p class="col-6">****************</p>
        </div>
        {% if current_user.admin %}
        {% if user.admin %}
        <div class="row justify-content-center">
            <p class="col-6 text-end"><strong>Admin:</strong></p>
            <p class="col-6">Yes</p>
        </div>
        {% else %}
        <div class="row justify-content-center">
            <p class="col-6 text-end"><strong>Admin:</strong></p>
            <p class="col-6">No</p>
        </div>
        {% endif %}
        {% endif %}
        <div class="row justify-content-center">
            <p class="col-6 text-end"><strong>Reviews:</strong></p>
            {% if current_user.id == user.id %}
            <p class="col-6">To see your reviews, <a href="{{ url_for('user_reviews', id=user.id)}}">click here:</a></p>
            {% else %}
            <p class="col-6">To see {{ user.username }}'s reviews, <a
                    href="{{ url_for('user_reviews', id=user.id)}}">click
                    here:</a></p>
            {% endif %}
        </div>
    </section>

    <section class="mt-5">
        <div class="row justify-content-center mb-3">
            <a href="{{ url_for('update_user', id=user.id) }}" class="text-center btn btn-success button-width">Update
                Details</a>
        </div>
        <div class="row justify-content-center mb-3">
            <a href="{{ url_for('update_password', id=user.id) }}" class="text-center btn btn-info button-width">Update
                Password</a>
        </div>
        <div class="row justify-content-center mb-3">
            {% if current_user.admin and current_user.id != user.id %}
            <button type="button" class="text-center btn btn-danger button-width" data-bs-toggle="modal"
                data-bs-target="#user-deletion-check">Delete User</button>
            {% elif not current_user.admin and current_user.id == user.id %}
            <button type="button" class="text-center btn btn-danger button-width" data-bs-toggle="modal"
                data-bs-target="#user-deletion-check">Close Account</button>
            {% endif %}
        </div>
        <div class="modal" id="user-deletion-check" tabindex="-1"
            aria-hidden="true">>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Account?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% if current_user.admin and current_user.id != user.id %}
                        <p>Are you sure you want to delete this user?</p>
                        {% elif not current_user.admin and current_user.id == user.id %}
                        <p>Are you sure you want to delete this account?</p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger col-2" data-bs-dismiss="modal">No</button>
                        <a href="{{ url_for('delete_user', id=user.id) }}" class="btn btn-success m-1 col-2">Yes</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

{% endblock %}