{% extends "base.html" %}
{% block content %}


<div class="container">
    <header>
        <div class="row justify-content-center">
            {% if current_user.id == user.id %}
            <h1 class="col-12 text-center mt-5">Hello {{ user.username}}</h1>
            {% else %}
            <h1 class="col-12 text-center mt-5">Info for {{ user.username }}</h1>
            {% endif %}
        </div>
    </header>
    <section class="mt-5">
        <div class="row justify-content-center mb-3">
            <h2 class="col-12 text-center">Details</h2>
        </div>
        <div class="row justify-content-center">
            <p class="col-6 text-end"><strong>Username:</strong></p>
            <p class="col-6">{{ user.username }}</p>
        </div>
        <div class="row justify-content-center">
            <p class="col-6 text-end"><strong>Email:</strong></p>
            <p class="col-6">{{ user.email }}</p>
        </div>
        <div class="row justify-content-center">
            <p class="col-6 text-end"><strong>Password:</strong></p>
            <p class="col-6">****************</p>
        </div>
        {% if current_user.admin %}
        {% if user.admin %}
        <div class="row justify-content-center">
            <p class="col-6 text-end"><strong>Admin:</strong></p>
            <p class="col-6">Yes</p>
        </div>
        {% else %}
        <div class="row justify-content-center">
            <p class="col-6 text-end"><strong>Admin:</strong></p>
            <p class="col-6">No</p>
        </div>
        {% endif %}
        {% endif %}
        <div class="row justify-content-center">
            <p class="col-6 text-end"><strong>Reviews:</strong></p>
            {% if current_user.id == user.id %}
            <p class="col-6">To see your reviews, <a href="{{ url_for('user_reviews', id=user.id)}}">click here:</a></p>
            {% else %}
            <p class="col-6">To see {{ user.username }}'s reviews, <a href="{{ url_for('user_reviews', id=user.id)}}">click here:</a></p>
            {% endif %}
        </div>
    </section>
    <section class="mt-5">
        <div class="row justify-content-center mb-3">
            <a href="{{ url_for('update_user', id=user.id) }}" class="col-12 text-center">Update Details</a>
        </div>
        <div class="row justify-content-center mb-3">
            <a href="{{ url_for('update_password', id=user.id) }}" class="col-12 text-center">Update Password</a>
        </div>
        <div class="row justify-content-center mb-3">
            {% if current_user.admin and current_user.id != user.id %}
            <a href="{{ url_for('delete_user', id=user.id) }}" class="col-12 text-center">Delete User</a>
            {% elif not current_user.admin and current_user.id == user.id %}
            <a href="{{ url_for('delete_user', id=user.id) }}" class="col-12 text-center">Close Account</a>
            {% endif %}
        </div>     
    </section>
</div>

{% endblock %}