{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <h1 class="col-4 text-center mt-3">{{ title.replace("-", " ").title() }}</h1>
    </div>
    <section id="add-review">
        <div class="row justify-content-center">
            <form class="col-md-6 mt-5" method="POST">
                {{ form.hidden_tag() }}
        
                {{ form.review.label(class="form-label")}}
                {{ form.review(class="form-control") }}
        
                <br>
        
                {{ form.rating.label(class="form-label") }}
                {{ form.rating(class="form-control") }}
        
                <br>
        
                {{ form.submit(class="btn btn-secondary") }}
            </form>
        </div> 
    </section>
</div>

{% endblock %}