{% extends "base.html" %}
{% block content %}

{% if searched == None %}

<h2 class="m-3">Showing all results...</h2>

{% else %}

<h2 class="m-3">Search results for {{ searched }}...</h2>

{% endif %}

<p class="m-3">Can't see what you're looking for?<span><a href="{{ url_for('add_product') }}">Add a new Product here</a></span></p>

{% for gear in gear_items %}
<div class="card shadow m-3" style="width: 18rem;">
    <div class="card-body">
        <a href="/about_gear/{{ gear.name.replace(' ', '-').lower() }}">{{ gear.name }}</a>
    </div>
</div>
    
{% endfor %}

{% endblock %}