{% extends "base.html" %}
{% block content %}

<section id="signup">
    <form class="col-md-6" action="{{ url_for('sign_up') }}" method="POST">
        {{ form.hidden_tag() }}

        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}

        <br>

        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}

        <br>

        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}

        <br>

        {{ form.confirm_password.label(class="form-label") }}
        {{ form.confirm_password(class="form-control") }}

        <br>

        {{ form.submit(class="btn btn-secondary") }}

    </form> 
</section>

{% endblock %}