{% extends "base.html" %}
{% block content %}

<section id="update-password">
    <div class="row justify-content-center">
        <header class="col-12 text-center mt-5">
            {% if current_user.id == user.id %}
            <h1>Update Your Password</h1>
            {% else %}
            <h1>Update Password for {{ user.username }}</h1>
            {% endif %}
        </header>
    </div>
    <div class="row justify-content-center">
        <form class="col-10 col-md-6 mt-5" action="{{ url_for('update_password', id=user.id) }}" method="POST">
            {{ form.hidden_tag() }}

            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}

            <br>

            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control") }}

            <br>

            {{ form.submit(class="btn btn-secondary") }}

        </form>
    </div>
</section>


{% endblock %}