{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <header class="col-12 text-center mt-5">
            <h1>Update Details</h1>
        </header>
    </div>
    <section id="update_user">
        <div class="row justify-content-center">
            <form class="col-md-6 mt-5" action="{{ url_for('update_user', id=user_id) }}" method="POST">
                {{ form.hidden_tag() }}
        
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
        
                <br>
        
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
        
                <br>
        
                {{ form.submit(class="btn btn-secondary") }}
        
            </form> 
        </div>
    </section>
</div>

{% endblock %}