html, body
{ 
    overflow-x: hidden; 
}

body {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}

.width-18rem {
    width: 18rem;
}

.width-20rem {
    width: 20rem;
}

.center-align {
    top: 50%;
    transform: translateY(50%)
}

.home-page-header {
    height: 50vh;
}

.bungee-tin {
    font-family: "Bungee Tint", sans-serif;
    font-size: 70px;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", sans-serif
}

.heading-font {
    font-family: "New Amsterdam", sans-serif;
    font-size: 55px;
}

.smaller-font {
    font-size: 50px;
}

.button-width {
    width: 150px;
}

footer {
    margin-bottom: 0;
}

.footer-section {
    width: 100%;
    height: 40px;
    background-color: gray;
}

@media (max-width: 508px) {
    .bungee-tin {
        font-size: 50px;
    }
    .smaller-font {
        font-size: 30px;
    }
}